@model List<Registry.WEB.Models.ServiceViewModel>
@using Registry.WEB.Models
@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Services";
}

<h2>Services</h2>

<div class="container" style="margin-top: 100px">
    @(Html.Kendo().Grid<Registry.WEB.Models.ServiceViewModel>()
        .Name("ServicesGrid")
        .Columns(columns =>
        {
            columns.Bound(o => o.Name).Width(200);
            columns.Bound(o => o.Code).Width(200);
            columns.Bound(o => o.Price).Width(200);
            columns.Bound(o => o.BeginDate).Width(200);
            columns.Command(command => { command.Edit(); command.Destroy(); });
        })
        .ToolBar(toolBar => toolBar.Create())
        .Editable(editable => editable.Mode(GridEditMode.PopUp))
        .Pageable()
        .Scrollable()
        .Sortable()
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(20)
            .Model(model => model.Id(o => o.Id))
            .Read(read => read.Action("Read_Services", "Service"))
            .Create(create => create.Action("Create_Services", "Service"))
            .Update(update => update.Action("Update_Services", "Service"))
            .Destroy(destroy => destroy.Action("Disable_Services", "Service"))
        )
    )
</div>